{% extends "sante/base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Contact Me</h1>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow p-4">

                <form method="post">
                    {% csrf_token %}

                    <div class="mb-3">{{ form.name }}</div>
                    <div class="mb-3">{{ form.email }}</div>
                    <div class="mb-3">{{ form.subject }}</div>
                    <div class="mb-3">{{ form.message }}</div>
                   
                    <button type="submit" class="btn btn-primary w-100">
                        Send Message
                    </button>
                </form>

         <h4 class="mt-4">Connect with me</h4>

            <div class="social-icons">
                <a href="mailto:your@email.com"><i class="fas fa-envelope"></i></a>
                <a href="https://github.com/yourusername"><i class="fab fa-github"></i></a>
                <a href="https://linkedin.com/in/yourusername"><i class="fab fa-linkedin"></i></a>
            </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}
